<div class="tab-pane fade ml-5" id="nav-about" role="tabpanel" aria-labelledby="nav-profile-tab">

    <div class="row pt-2 pb-3 mb-3" id="about1">
        <div class="col-md-12">
            <i class="fas fa-home"></i>&nbsp;
            <span>19991</span>
        </div>

        <div class="col-md-12">
            <i class="fas fa-map-marker-alt mt-2"></i>&nbsp;
            <span>Cairo, Egypt</span> 
            <a href="#" style="text-decoration: underline; color: orangered;">and 73 others</a>
        </div>

        <div class="col-md-12">
            <i class="far fa-clock"></i>&nbsp;
            <span>Working hours 11:00 AM - 03:00 AM</span>
        </div>

    </div>

    <!-- <div class="row mb-3 align-items-baseline" id="aboutImg1">
       <div class="row mb-3 align-items-baseline">
          <i class="fas fa-camera "></i>&nbsp;
          <p>Featured Photos</p>

         
        </div>


      

    </div>

    


    <div class="row mb-3 align-items-baseline" id="aboutImg1">
        <div class="row mb-3 align-items-baseline">
           <i class="fas fa-camera"></i>&nbsp;
           <p>Community photos</p>

          
        </div>

        
    </div> -->


    <div class="row mt-2 mb-3 pt-3 justify-content-start">
       
            <span class="col-md-3 col-sm-3 mb-4"> <i class="far fa-clock"></i>&nbsp;Working hours</span>
            <span class="col-md-9 col-sm-9 mb-4 ">Sat - Fri	11:00 AM-03:00 AM</span>
    
            <span class="col-md-3 col-sm-3 mb-4"><i class="far fa-clock"></i>&nbsp; Delivery hours</span>
            <span class="col-md-9 col-sm-9 mb-4">Sat - Fri	11:00 AM-03:00 AM</span>


            
            <span class="col-md-3 col-sm-3 mb-4"><i class="far fa-clock"></i>&nbsp; Fatures</span>
            <span class="col-md-9 col-sm-9 mb-4">
                <div class="col-md-5">
                    <i class="far fa-smile-beam col-md-12"> 24 hours</i>
                   
                </div>
            </span>

            <span class="col-md-6 mb-4"><i class="far fa-clock"></i>&nbsp; Delivery Areas</span>
            <div class="container mb-4 justify-content-around">
     
               
                <div class="row mb-4" *ngFor='let r of deliverRow'>
                    <div class="col-md-2 col-sm" *ngFor='let o of deliverTo'>
                        <div class="p-3  mr-4" style="border-radius: 50%; background-color:grey; text-align: center;">SZ</div>
                        <P class="ml-4">Sheikh Zayed</P>
                    </div>

                </div>

            </div>


    </div>


</div>

