<section style="margin-top:20px">
    <div class="pagesection">
        <a      (click)="getRestaurantsByHiddGems('Hidden Gems')" class="btn btn-primary" style="float: right;padding-right: 50px"> See All</a>
        
        <h2>Hidden Gems</h2>
    </div>
    <div class="  row">
   
        <div  (click)="navigateToRestaurant(restaurant)"  *ngFor='let restaurant of hiddenGemsRestaurants ' class="card col-lg-2" style="width:25rem; margin-left: 20px;margin-top: 30px;">
            <img class="card-img-top" src="../../../../../../assets/Images/download2.jpg" alt="Card image cap">
            <div class="card-body" >
                <!-- {{console.log(restaurant)}} -->
                <h6> Name:{{restaurant.id}}</h6>
                <div>🗺{{restaurant.Location}}</div>
                <div>☎️:{{restaurant.hotLine}}</div>
            </div>
          
            
        </div>

   
    </div>




</section>