<div class="row p-3 justify-content-between" *ngFor="let i of repeat">
    <div class="col-md-8 col-sm-8 col-8 d-inline-block ">
        <span class="col-md-4 col-4 col-sm-4 p-2  mr-0 d-inline-block" style="border-radius: 50%; background-color: grey; text-align: center;">
            <i class="fas fa-user"></i>
        </span>
        <span class="col-md-6 col-sm-3 d-inline-block">username<br>
           <small style="font-size: x-small;">@{{resturant.name}}</small>

        </span>
        
    </div>

    <div class="col-md-4 col-sm-4 border-bottom">
        <span class="fa fa-star checked star"></span>
        <span class="fa fa-star checked star"></span>
        <span class="fa fa-star checked star"></span>
        <span class="fa fa-star checked star"></span>
        <span class="fa fa-star checked star"></span>

        <div class="col-md-12 pt-4 pb-4">
            user comment 
        </div>
    </div>
</div>