<div class="cont">
  <div class="top">
      <div class= "container-fluid">  
          <div class="row">
              <div class="col-sm-6 col-xs-12" >
                  <div class="containt">
                      <h1>{{"GiftMeal.FirstHeader"|translate}}</h1>
                      <hr>
                      <p>{{"GiftMeal.SendGiftParagraph"|translate}}</p>
                      <div class="actions"><button class="btn btn-primary">
                          {{"GiftMeal.SendGiftToTeamsBtn"|translate}}
                      </button> <button class="btn btn-outline">
                         {{"GiftMeal.SendGifToFriendstBtn"|translate}}
                      </button></div>
                  </div>
              </div>
              <!-- Gift Photo -->
              <div class="col-sm-6 hidden-xs gifting-img"><img src="../../../assets/Images/gifting.png" ></div>
              <div class="col-xs-12 visible-xs gifting-img"><img src="../../../assets/Images/gifting.png"></div>
          </div>
      </div>
      </div>
</div>
<!-- bottom container -->
<div class="bottom">
  <div class="container">
      <div class="row">
          <div class="col-md-12 title"><h1>{{"GiftMeal.SecondHeader"|translate}}</h1> <hr></div>
          <div class="col-sm-6 col-xs-12">
              <div class="col-sm-3 col-xs-12">
                  <img src="../../../assets/Images/amount.png" class="icon gifting-img">
              </div>
              <div class="col-sm-9 col-xs-12">
            <h3>{{"GiftMeal.Set Gift Account"|translate}}</h3>
            <p>{{"GiftMeal.GiftAccParagraph"|translate}}</p>
              </div>
          </div>
          <div class="col-sm-6 col-xs-12">
              <div class="col-sm-3 col-xs-12">
                  <img src="../../../assets/Images/phones.png" class="icon gifting-img">
              </div>
              <div class="col-sm-9 col-xs-12">
                <h3>{{"GiftMeal.List your friends or teams"|translate}}</h3>
                  <p>{{"GiftMeal.ListYourFriendsDetails"|translate}}</p>
              </div></div>
      </div>
      <div class="row">
          <div class="col-sm-6 col-xs-12">
              <div class="col-sm-3 col-xs-12">
                  <img src="../../../assets/Images/friends.png" class="icon gifting-img">
              </div>
              <div class="col-sm-9 col-xs-12">
            <h3>{{"GiftMeal.Pay the full amount online"|translate}}</h3>
                  <p>{{"GiftMeal.Pay the full amount online Details"|translate}}</p>
              </div>
          </div>
          <div class="col-sm-6 col-xs-12" >
              <div class="col-sm-3 col-xs-12">
                  <img src="../../../assets/Images/gifts.png" class="icon gifting-img">
              </div>
              <div class="col-sm-9 col-xs-12">
                  <h3>{{"GiftMeal.They receive the GiftMeals"|translate}}</h3>
                  <p>{{"GiftMeal.They receive the GiftMeals Details"|translate}}</p>
              </div>
          </div>
      </div>
  </div>   
</div>

