<div class="container-fluid justify-content-center pb-5" id="mainContainer" style="text-align: center;">
    <div class="row border-bottom justify-content-center" style="text-align: center;">
      <h3 style="text-align: center;">Account settings</h3>
    </div>
    <div class="row justify-content-center border-bottom pb-2 pt-2">
      <!-- <button type="button" class="btn  mr-3" id="emailBtn" (click)="changeEmailForm()">Change Email</button>
      <button type="button" class="btn  mr-3" id="passBtn" (click)="changePassFrom()">Change Password</button> -->
      <button type="button" class="btn  mr-3" id="addBtn" (click)="changeAddForm()">Address Book</button>
    </div>
</div>

<!-- <app-change-email  [hidden]='!changeEmail'></app-change-email>
<app-change-password [hidden]='!changePass'></app-change-password> -->
<app-change-address [hidden]='!chandeAddress'></app-change-address>
