<!-- <app-header></app-header> -->
<div class="container-fluid about-us">
  <div class="row">
    <div class=" col-md-1 "></div>
    <div class="col-md-10 col-sm-12 ">
      <p class="text-center main-text" style="font-weight: 600; line-height: 140%;">
        Millions of people around the world ask the same question everyday “What will I eat today?” It’s the question
        that triggered the journey to build elmenus. elmenus is an Egypt based company that started in 2011 with the
        vision to help people decide what to eat. We are building a platform that combines a social, visual and
        personalized experience to help people discover and order the food they love.
      </p>
    </div>
    <div class=" col-md-1 col-sm-12 col-sm-push-8 section-text"></div>
  </div>
  <div class="row align-items-center">
    <div class=" col-md-1 col-sm-12 col-sm-push-8 section-text"></div>
    <div class=" col-md-3 col-sm-12 col-sm-push-8 section-text">
      <hr class="leftline" style="border: 1px solid rgb(163, 159, 159)">
    </div>
    <div class=" col-md-4 col-sm-12 col-sm-push-8 section-text ">
      <h1 class="align-self-stretch" style="text-align: center; color: #494949; font-weight: bold;"><span>
          What is Elmenus
        </span></h1>
    </div>
    <div class=" col-md-3 col-sm-12 col-sm-push-8 section-text">
      <hr class="rightline" style="border: 1px solid rgb(163, 159, 159)">
    </div>
    <div class=" col-md-1 col-sm-12 col-sm-push-8 section-text"></div>


    <div class=" col-md-1 col-sm-12 col-sm-push-8 section-text"></div>
  </div>
</div>

<br><br>


<div class="row section">
  <div class="col-md-6 col-sm-12 col-sm-push-8 section-image"><img src="../assets/Images/01.png" class="img-responsive"
      style="width: 100%;"></div>
  <div class="col-md-5 col-sm-12 col-sm-push-8 section-text" style="text-align: right; color: #494949; ">
    <div class="number" style="font-size: 60px; ">
      01
    </div>
    <div class="headline" style="font-size: 60px;  color: #494949; font-weight: bold; line-height: 100%;">
      A comprehensive platform with over 6,000 restaurants
    </div>
    <br>
    <p class="text" style="font-size: 20px; color: #2c2a2a;">
      Whether you’re looking for Delivery or Dineout restaurants, you will find them all on elmenus Because we do
      our best to ensure we have all the info on every restaurant in Egypt and always up to date.
    </p>
  </div>
  <div class=" col-md-1 col-sm-12 col-sm-push-8 section-text"></div>
</div>
<br>
<br>


<div class="row section">
  <div class=" col-md-1 col-sm-12 col-sm-push-8 section-text"></div>
  <div class=" col-md-5 col-sm-12 col-sm-push-8 section-text">
    <div class="number" style="font-size: 60px; color: #494949;">
      02
    </div>
    <div class="headline" style="font-size: 60px; font-weight: bold; line-height: 100%; color: #494949;">
      Discovery to the dish level
    </div>
    <br>
    <p class="text" style="font-size: 20px; color: #2c2a2a;">
      Whether you want to know the best steaks in your area or the best restaurants serving fatta, we’ve got you
      covered. Discover food by the dish you’re craving with specially curated food photos to visualize your next
      meal.
    </p>
  </div>
  <div class="col-md-6 col-sm-12 col-sm-push-8 section-image"><img src="../assets/Images/02.png" class="img-responsive"
      style="width: 100%;"></div>

</div>
<br>
<br>

<div class="row section">
  <div class="col-md-6 col-sm-12 col-sm-push-8 section-image"><img src="../assets/Images/03.png" class="img-responsive"
      style="width: 100%;"></div>
  <div class="col-md-5 col-sm-12 col-sm-push-8 section-text" style="text-align: right;">
    <div class="number" style="font-size: 60px; color: #494949;">
      03
    </div>
    <div class="headline" style="font-size: 60px; font-weight: bold; line-height: 100%; color: #494949;">
      Order in a click of a button
    </div>
    <br>
    <p class="text" style="font-size: 20px; color: #2c2a2a;">
      To make your ordering experience easier, we introduced our fully automated online ordering in mid 2018. Follow
      this icon(Order online icon) to Customize your order, pay with your credit card and your food will be on its
      way.
    </p>
  </div>
  <div class=" col-md-1 col-sm-12 col-sm-push-8 section-text"></div>
</div>
<br>
<br>


<div class="row section">
  <div class=" col-md-1 col-sm-12 col-sm-push-8 section-text"></div>
  <div class=" col-md-5 col-sm-12 col-sm-push-8 section-text">
    <div class="number" style="font-size: 60px;color: #494949;">
      04
    </div>
    <div class="headline" style="font-size: 60px; font-weight: bold; line-height: 100%; color: #494949;">
      The Foodie Community
    </div>
    <br>
    <p class="text" style="font-size: 20px; color: #2c2a2a;">
      elmenus has a vibrant and growing foodie community, brought together by their passion to share their food
      experiences through photos and reviews. Share your experiences too and help millions others decide what and
      where to eat.
    </p>
  </div>
  <div class="col-md-6 col-sm-12 col-sm-push-8 section-image"><img src="../assets/Images/04.png" class="img-responsive"
      style="width: 100%;"></div>
</div>