<!-- 
<div class="container" id="passPage">
    <div class="row justify-content-center">
      <form (ngSubmit)="changePassword()" #newPassForm="ngForm">
        <div class="form-group mt-3 row">
          <label for="oldPass" id="nameLabel">Old Password</label>
          <input type="password" class="form-control" id="oldPass" name="oldPasswor" [(ngModel)]="oldPass"  placeholder="Enter Old Password" required>
          
        </div>
        
       
        <div class="form-group row mt-1">
          <label for="newPass">New Password</label>
          <input type="password" class="form-control" name="newPassword" id="newPass" [(ngModel)]="changePass.password" placeholder="Enter New Password" required>
        </div>

        <div class="form-group row mt-1">
          <label for="confirmPass">Confirm New Password</label>
          <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="confirmNewPass" id="confirmPass" placeholder="Enter New Password" required>
        </div>



        <div class="row mt-3">
          <button type="submit" class="btn mr-3" id="savebtn2" [disabled]="newPassForm.invalid">Save Changes</button>
        </div>

        
        
      </form>
    </div>
</div> -->
