<div class="container">
  <div class="row">
      <div class="left">
          <div class="col-sm-12 col-md-8 col-xs-12 text-center">
              <h2 class="text-center">Elmenus Gift Cards</h2>
              <span>
                  Would you like to send gift for your friends?
                  <a href="#" class="click-here">click here</a>
              </span>
              <div class="checkout-steps-header text-center">
                  <ul class="steps-list">
                      <li class="active"><span class="step-number1"><span>1</span></span>
                          <div class="content"><span class="step-title">
                                  Gift Details
                              </span> </div>
                      </li>
                      <li><span class="step-number"><span>2</span></span>
                          <div class="content"><span class="step-title">
                                  Payment
                              </span> </div>
                      </li>
                  </ul>
              </div>
              <div class="form" class="inputF">
                 <label>Gift value*</label>
                 <input type="text" class="inputF">
                 <label>Promo Name*</label>
                 <input type="text" class="inputF">
                 <label>Company Email*</label>
                 <input type="text" class="inputF">
                 <label>Company Name*</label>
                 <input type="text" class="inputF">
                 <label>Company Phone Number*</label>
                 <input type="text" class="inputF">
                 <label>Employee Phone Number(s)*</label>
                 <input type="text" class="inputF">
                 <button type="submit" class="submit-btn btn-primary ">
                  Go To Payment
                </button>
              
              </div>
          </div>
      </div>

      <div class="right">
          <div class="col-sm-12 col-md-4 hidden-xs gifting-img"><img src="../../../assets/Images/promo.png"></div>
      </div>
  </div>
</div>
