<div class="row justify-content-around ml-5">
    <h6 class="col-md-3 col-sm-3" >Branches</h6>
  <div class="col-md-4 col-sm-4">
    <label class="sr-only" for="inlineFormInputGroup">Username</label>
    <div class="input-group mb-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-search"></i></div>
      </div>
      <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Search branches">
    </div>
  </div>
</div>

<div class="row pt-3 pb-4 mt-3 border-bottom">
    <div class="col-md-6">
        <div class="col-md-1 col-sm-1 p-1 d-inline-block" style="border-radius: 50%;background-color:grey; text-align: center; font-size: large;">SZ</div>&nbsp;
        <span style="font-weight: bold; font-size: larger;">Sheikh Zayed</span>
    </div>
    <div class="col-md-12 mt-3 pl-5 ml-5">
        <i class="fas fa-circle"></i>&nbsp;&nbsp; Total gas station
    </div>
    <div class="col-md-12 pl-5 ml-5 border-bottom pb-4">
        <i class="far fa-clock"></i>&nbsp;&nbsp; 9:00 AM - 3:00 AM
    </div>

   
    <div class="col-md-12 mt-3 pl-5 ml-5">
        <i class="fas fa-circle"></i>&nbsp;&nbsp; Ajyad Dahshour Road, from Juhayna Square, Stripes Mall, Beverly Hills, 6th of October City
    </div>
    <div class="col-md-12 pl-5 ml-5  pb-3">
        <i class="far fa-clock"></i>&nbsp;&nbsp; 9:00 AM - 3:00 AM
    </div>
    
</div>


<div class="row pt-3 pb-4 mt-3 border-bottom">
    <div class="col-md-6">
        <div class="col-md-1 col-sm-1 p-1 d-inline-block" style="border-radius: 50%;background-color:grey; text-align: center; font-size: large;">SZ</div>&nbsp;
        <span style="font-weight: bold; font-size: larger;">Sheikh Zayed</span>
    </div>
    <div class="col-md-12 mt-3 pl-5 ml-5">
        <i class="fas fa-circle"></i>&nbsp;&nbsp; Total gas station
    </div>
    <div class="col-md-12 pl-5 ml-5 border-bottom pb-4">
        <i class="far fa-clock"></i>&nbsp;&nbsp; 9:00 AM - 3:00 AM
    </div>

   
    <div class="col-md-12 mt-3 pl-5 ml-5">
        <i class="fas fa-circle"></i>&nbsp;&nbsp; Ajyad Dahshour Road, from Juhayna Square, Stripes Mall, Beverly Hills, 6th of October City
    </div>
    <div class="col-md-12 pl-5 ml-5  pb-3">
        <i class="far fa-clock"></i>&nbsp;&nbsp; 9:00 AM - 3:00 AM
    </div>
    
</div>

<div class="row pt-3 pb-4 mt-3 border-bottom">
    <div class="col-md-6">
        <div class="col-md-1 col-sm-1 p-1 d-inline-block" style="border-radius: 50%;background-color:grey; text-align: center; font-size: large;">SZ</div>&nbsp;
        <span style="font-weight: bold; font-size: larger;">Sheikh Zayed</span>
    </div>
    <div class="col-md-12 mt-3 pl-5 ml-5">
        <i class="fas fa-circle"></i>&nbsp;&nbsp; Total gas station
    </div>
    <div class="col-md-12 pl-5 ml-5 border-bottom pb-4">
        <i class="far fa-clock"></i>&nbsp;&nbsp; 9:00 AM - 3:00 AM
    </div>

   
    <div class="col-md-12 mt-3 pl-5 ml-5">
        <i class="fas fa-circle"></i>&nbsp;&nbsp; Ajyad Dahshour Road, from Juhayna Square, Stripes Mall, Beverly Hills, 6th of October City
    </div>
    <div class="col-md-12 pl-5 ml-5  pb-3">
        <i class="far fa-clock"></i>&nbsp;&nbsp; 9:00 AM - 3:00 AM
    </div>
    
</div>



